.thumbnailViewer {
    width: 150px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    align-items: center;
    background-color: #deeeff;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.thumbnail-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    margin-bottom: 20px;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s ease;
}

.thumbnail-item.active {
    background-color: #bddaf9;
    border: 2px solid #0078d4;
}